/*                               HEADER                          */
header {
  background-color: black;
}

#logo {
  position: fixed;
  display: block;
  margin-top: auto;
  margin-right: 10px;
  margin-bottom: auto;
  margin-left: 1110px;
}

/*                               HEADER                          */
/*                                          NAV                              */
a:visited {
  color: blueviolet;
}

a:active {
  color: black;
}

nav {
  background-color: #00f7ff;
}

/*                                          NAV                              */
/*                                        BODY                               */
body {
  background-color: #008b6d;
  background-image: url(../img/cadenas.jpg);
}

/*                                        BODY                               */
/*                                         H1,H2,H3                          */
h1, h2, h3, #titulo {
  color: rgba(255, 0, 0, 0.863);
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: none;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

/*                                         H1,H2,H3                          */
/*                             INDEX IMAGENES                         */
#centro {
  display: inline-block;
  -webkit-transform: translateY(310px);
          transform: translateY(310px);
}

#entrenar {
  display: inline-block;
  margin-top: auto;
  margin-right: 10px;
  margin-bottom: auto;
  margin-left: 550px;
  -webkit-transform: translatey(-300px);
          transform: translatey(-300px);
}

/*            INDEX IMAGENES                                        */
/*                              PRODUCTOS SCSS                             */
/*                               "PRODUCTOS" P                             */
.material {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #b10909;
}

/*                          H2                                             */
#titulo {
  color: red;
}

/*                          H2                                             */
/*                               "PRODUCTOS" P                             */
/*                              .PRODUCTO                                  */
.producto {
  border-style: groove;
  border-color: black;
}

/*                              .PRODUCTO                                  */
/*                             "PRODUCTO" SPAN                             */
span {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #b10909;
}

/*                             "PRODUCTO" SPAN                             */
/*                              ARTICLE                                    */
article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section {
  height: auto;
  border-style: dotted;
}

/*                              ARTICLE                                    */
/*                              PRODUCTOS SCSS                             */
/*                               NOSOTROS SCCS                              */
/*                               P                                          */
.lead {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  color: #d11c1c;
}

/*                               P                                          */
/*                               NOSOTROS SCCS                              */
/*                               UBICANOS SCSS                              */
/*                                 H3                                       */
#bienvenido {
  color: #1100ff;
  text-align: center;
  font-size: 30px;
}

/*                                 H3                                       */
/*                               #IMAGEN                                    */
#imagen {
  display: block;
  margin: auto;
  border-style: outset;
}

/*                               #IMAGEN                                    */
/*                               UBICANOS SCSS                              */
/*                               UNETE A NOSOTROS SCSS                      */
fieldset {
  border-style: solid;
  border-color: #0059ff;
}

input {
  border-style: groove;
}

legend {
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/*                               UNETE A NOSOTROS SCSS                      */
/*                                 FOOTER  (MIXIN, INCLUDE, ANIMATIONS, KEYFRAMES)                             */
footer {
  background-color: #7fccff;
  display: inline-block;
}

footer div en {
  color: cyan;
}

footer div {
  background-color: #008b84;
  width: 1100px;
  height: 50px;
  border: 5px;
  border-style: groove;
  border-color: aquamarine;
  padding: 5px;
  margin: 5px;
}

.redes {
  display: -ms-grid;
  display: grid;
}

#gmail {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: loop4;
          animation-name: loop4;
}

#instagram {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: loop3;
          animation-name: loop3;
}

#twitter {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: loop2;
          animation-name: loop2;
}

#whatsapp {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: loop1;
          animation-name: loop1;
}

@-webkit-keyframes loop4 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, red), to(green));
    background-image: linear-gradient(to top, red 0 15%, green);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, red), to(green));
    background-image: linear-gradient(to top, red 0 60%, green);
  }
}

@keyframes loop4 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, red), to(green));
    background-image: linear-gradient(to top, red 0 15%, green);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, red), to(green));
    background-image: linear-gradient(to top, red 0 60%, green);
  }
}

@-webkit-keyframes loop1 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, green), to(blue));
    background-image: linear-gradient(to top, green 0 15%, blue);
  }
  50% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, green), to(blue));
    background-image: linear-gradient(to top, green 0 40%, blue);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, green), to(blue));
    background-image: linear-gradient(to top, green 0 60%, blue);
  }
}

@keyframes loop1 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, green), to(blue));
    background-image: linear-gradient(to top, green 0 15%, blue);
  }
  50% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, green), to(blue));
    background-image: linear-gradient(to top, green 0 40%, blue);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, green), to(blue));
    background-image: linear-gradient(to top, green 0 60%, blue);
  }
}

@-webkit-keyframes loop3 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, purple), to(red));
    background-image: linear-gradient(to top, purple 0 15%, red);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, purple), to(red));
    background-image: linear-gradient(to top, purple 0 60%, red);
  }
}

@keyframes loop3 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, purple), to(red));
    background-image: linear-gradient(to top, purple 0 15%, red);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, purple), to(red));
    background-image: linear-gradient(to top, purple 0 60%, red);
  }
}

@-webkit-keyframes loop2 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, blue), to(purple));
    background-image: linear-gradient(to top, blue 0 1%, purple);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, blue), to(purple));
    background-image: linear-gradient(to top, blue 0 50%, purple);
  }
}

@keyframes loop2 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, blue), to(purple));
    background-image: linear-gradient(to top, blue 0 1%, purple);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, blue), to(purple));
    background-image: linear-gradient(to top, blue 0 50%, purple);
  }
}

/*                                 FOOTER  (MIXIN, INCLUDE, ANIMATIONS, KEYFRAMES                             */
/*                                 MEDIA SCREENS                         */
@media screen and (min-width: 320px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    width: 330px;
  }
  #logo {
    display: none;
  }
  footer {
    height: 340px;
    width: 330px;
  }
  footer div {
    width: 310px;
    height: 70px;
  }
  main {
    width: 340px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  #centro {
    height: auto;
    width: auto;
    max-width: 310px;
    max-height: 300px;
    margin: 5px;
    -webkit-transform: none;
            transform: none;
  }
  #entrenar {
    height: auto;
    width: auto;
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
    -webkit-transform: none;
            transform: none;
  }
  .redes {
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    -ms-grid-columns: 60px 100px;
        grid-template-columns: 60px 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /*                         PRODUCTOS MEDIA SCREEN*/
  p {
    overflow: hidden;
    width: 200px;
  }
  article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  /*                         PRODUCTOS MEDIA SCREEN*/
  /*                         UBICANOS MEDIA SCREEN*/
  #gimnasio {
    display: inline-block;
    margin: auto;
  }
  #mapa {
    display: inline-block;
    margin: auto;
  }
  /*                         UBICANOS MEDIA SCREEN*/
  /*                     UNETE MEDIA SCREEN*/
  legend {
    text-decoration: underline;
  }
  h3 {
    color: red;
    text-decoration: underline;
    background-color: black;
  }
  /*                    UNETE MEDIA SCREENS*/
}

@media screen and (min-width: 1200px) {
  main {
    display: block;
    width: 1200px;
    height: 300px;
  }
  #entrenar {
    display: inline-block;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 500px;
    -webkit-transform: translatey(1px);
            transform: translatey(1px);
    -webkit-transform: translatex(190px);
            transform: translatex(190px);
    width: 300px;
    height: 300px;
  }
  #centro {
    display: inline-block;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    width: 300px;
    height: 300px;
  }
  #logo {
    position: fixed;
    display: block;
    margin-top: auto;
    margin-right: 0px;
    margin-bottom: auto;
    margin-left: 1210px;
  }
  header {
    width: 1310px;
  }
  title {
    text-align: center;
  }
  body {
    height: 609px;
    width: 1310px;
  }
  .redes {
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    -ms-grid-columns: 60px auto;
        grid-template-columns: 60px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer {
    background-color: #7fccff;
    width: 1310px;
  }
  footer div en {
    color: cyan;
  }
  footer div {
    background-color: #008b84;
    width: 1300px;
    height: 70px;
    border: 5px;
    border-style: groove;
    border-color: aquamarine;
    padding: 5px;
    margin: 5px;
  }
  /*                         PRODUCTOS MEDIA SCREEN*/
  p {
    overflow: hidden;
    width: 200px;
  }
  h1, h2, h3, #titulo {
    text-align: center;
  }
  h2 {
    text-align: left;
  }
  section {
    display: block;
    overflow: auto;
  }
  article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  /*                         PRODUCTOS MEDIA SCREEN*/
  /*                              UBICANOS MEDIA SCREEN*/
  #gimnasio {
    display: inline-block;
    margin: auto;
  }
  #mapa {
    display: inline-block;
    margin: auto;
  }
  div {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  /*                                UBICANOS MEDIA SCREEN*/
  /*                                UNETE MEDIA SCREEN*/
  legend {
    text-decoration: underline;
  }
  h3 {
    color: red;
    text-decoration: underline;
  }
  /*                                UNETE MEDIA SCREEN*/
}

/*                                    MEDIA SCREENS*/
/*# sourceMappingURL=style.css.map */