header{background-color:black}

#logo{position: fixed;
display: block;
margin-top: auto;
margin-right: 10px;
margin-bottom: auto;
margin-left: 1110px;}

h1{color: rgba(255, 0, 0, 0.863);
text-decoration: underline;
text-align: center;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
background-color:black}

#lista{background-color: rgb(0, 247, 255);}

body{background-color: rgb(0, 139, 109);}

h2{color:rgba(255, 0, 0, 0.877);
text-decoration: underline;
font-family: Arial, Helvetica, sans-serif;}


#centro{display: inline-block;
transform: translateY(310px);}

#entrenar{display:inline-block;
    margin-top: auto;
   margin-right: 10px;
    margin-bottom: auto;
    margin-left: 550px;
transform: translatey(-300px);}

footer{background-color: rgb(127, 204, 255);}

h3{color: rgba(255, 0, 0, 0.836);
text-decoration: underline;
font-family: Arial, Helvetica, sans-serif;}

footer div en{color: cyan;}

footer div {background-color: rgb(0, 139, 132);
width: 1100px;
height: 50px;
border: 5px;
border-style:groove;
border-color: aquamarine;
padding: 5px;
margin: 5px;}

.redes{display: grid;}

#gmail{
    animation-name: loop4;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
animation-duration: 2s;
}

#instagram{
    animation-name: loop3;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;

}

#twitter{
    animation-name: loop2;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

#whatsapp{
    animation-name: loop1;
animation-iteration-count: infinite;
animation-timing-function: ease-in;
animation-duration: 2s;
}


@keyframes loop4{ 
    0%{ background-image: linear-gradient(to top, red 0 15%, green)} 
    
    100%{ background-image: linear-gradient(to top, red 0 60%, green);}
}

@keyframes loop1 {
    0%{ background-image: linear-gradient(to top, green 0 15%, blue)} 
    50%{background-image: linear-gradient(to top, green 0 40%, blue,) }
    100%{ background-image: linear-gradient(to top, green 0 60%, blue);}
}

@keyframes loop3 {
    0%{ background-image: linear-gradient(to top, purple 0 15%, red)} 
    
    100%{ background-image: linear-gradient(to top, purple 0 60%, red)}
}

@keyframes loop2{
    0%{ background-image: linear-gradient(to top, blue 0 1%, purple)} 
     
    100%{ background-image: linear-gradient(to top, blue 0 50%, purple)}
}

@media screen and (min-width: 320px)

{
    header{display: flex;
        flex-direction: column;
    justify-content: stretch;
    width: 330px;
    }
    
    #logo{display: none;}

    footer{
        height: 340px;
        width: 330px;
    }
    
    footer div{
        width: 300px;
        height: 50px;
        
    }
    
    main{
        width: 340px;
        height: auto;
        display: flex;
        justify-content: stretch;
    }
    #centro{ 
        height: 300px;
        width: 330px;
        justify-content: stretch;
    }
    #entrenar{
        height: 300px;
        width: 330px;
        margin: auto;
        justify-content: stretch;
    }


    .redes{ grid-template-rows: auto auto auto auto;
        grid-template-columns: 60px 20px;
        align-items: center;
    }
}


@media screen and (min-width: 1200px)

{
    .redes{ grid-template-rows: auto auto auto auto;
    grid-template-columns: 60px auto;
    align-items: center;
}
}

