header{background-color:black}

#logo{position: fixed;
    display: block;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: auto;
    margin-left: 1110px;}    

    h1{color: red;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;}

    a:visited{ color: blueviolet;}
    a:active{ color: black}

#listas{background-color: rgb(0, 247, 255);}

#titulo{color: red;
@extend h1;}

h2{ @extend h1;}

p{font-family: Arial, Helvetica, sans-serif;
font-weight: bold;}

.producto{border-style: groove;
border-color: black;
}


body{background-color: rgb(0, 139, 109);}
footer{background-color: rgb(127, 204, 255);}

h3{color: red;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
text-decoration: underline;}

footer div en{color: cyan;}

footer div {background-color: rgb(0, 139, 132);
    width: 1100px;
    height: 50px;
    border: 5px;
    border-style:groove;
    border-color: aquamarine;
    padding: 5px;
    margin: 5px;}

    .redes{display: grid;}

    article{display: flex;}

    @mixin animacion {
        animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    }

    #gmail{
        animation-name: loop4;
   @include animacion;
    }
    
    #instagram{
        animation-name: loop3;
    @include animacion;
    
    }
    
    #twitter{
        animation-name: loop2;
     @include animacion;
    }
    
    #whatsapp{
     @include animacion;
     animation-name: loop1;
    }
    
    
    @keyframes loop4{ 
        0%{ background-image: linear-gradient(to top, red 0 15%, green)} 
        
        100%{ background-image: linear-gradient(to top, red 0 60%, green);}
    }
    
    @keyframes loop1 {
        0%{ background-image: linear-gradient(to top, green 0 15%, blue)} 
        50%{background-image: linear-gradient(to top, green 0 40%, blue,) }
        100%{ background-image: linear-gradient(to top, green 0 60%, blue);}
    }
    
    @keyframes loop3 {
        0%{ background-image: linear-gradient(to top, purple 0 15%, red)} 
        
        100%{ background-image: linear-gradient(to top, purple 0 60%, red)}
    }
    
    @keyframes loop2{
        0%{ background-image: linear-gradient(to top, blue 0 1%, purple)} 
         
        100%{ background-image: linear-gradient(to top, blue 0 50%, purple)}
    }




    @media screen and (min-width: 320px){
    
    #logo{display: none;}

    p{
        overflow: hidden;
        width: 200px;
    }

    article{flex-direction: column;
    align-items: start;}
    
    footer{
        height: 340px;
        width: 320px;
    }
    
    footer div {
        width: 310px;
        height: 70px;
      }

    .redes{ grid-template-rows: auto auto auto auto;
        grid-template-columns: 60px 100px;
        align-items: center;}


}

@media screen and (min-width: 1200px) 
{
h1{
    text-align: center;
}
h2{
    text-align: left;
}
    #logo{position: fixed;
        display: block;
        margin-top: auto;
        margin-right: 100px;
        margin-bottom: auto;
        margin-left: 1100px;}  


    article{flex-direction: row;
        align-items: start;}

        p{
            overflow: hidden;
            width: 200px;
        }


  

    body{
        height: 609px;
        width: 1200px;
    }


    .redes{ grid-template-rows: auto auto auto auto;
        grid-template-columns: 60px auto;
        align-items: center;}

        footer{background-color: rgb(127, 204, 255);
            width: 1200px;
           }
           footer div en{color: cyan;}
           footer div {background-color: rgb(0, 139, 132);
               width: 1190px;
               height: 70px;
               border: 5px;
               border-style:groove;
               border-color: aquamarine;
               padding: 5px;
               margin: 5px;}
   }
