header {
  background-color: black;
}

h1 {
  color: red;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#lista {
  background-color: #00f7ff;
  display: block;
}

h2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

h3 {
  color: red;
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

body {
  background-color: #008b6d;
}

a:visited {
  color: blueviolet;
}

a:active {
  color: black;
}

#logo {
  position: fixed;
  display: block;
  margin-top: auto;
  margin-right: 10px;
  margin-bottom: auto;
  margin-left: 1110px;
}

footer {
  background-color: #7fccff;
}

footer div en {
  color: cyan;
}

footer div {
  background-color: #008b84;
  width: 1100px;
  height: 10s0px;
  border: 5px;
  border-style: groove;
  border-color: aquamarine;
  padding: 5px;
  margin: 5px;
}

#gmail {
  -webkit-animation-name: loop4;
          animation-name: loop4;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

#instagram {
  -webkit-animation-name: loop3;
          animation-name: loop3;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

#twitter {
  -webkit-animation-name: loop2;
          animation-name: loop2;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

#whatsapp {
  -webkit-animation-name: loop1;
          animation-name: loop1;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes loop4 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, red), to(green));
    background-image: linear-gradient(to top, red 0 15%, green);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, red), to(green));
    background-image: linear-gradient(to top, red 0 60%, green);
  }
}

@keyframes loop4 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, red), to(green));
    background-image: linear-gradient(to top, red 0 15%, green);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, red), to(green));
    background-image: linear-gradient(to top, red 0 60%, green);
  }
}

@-webkit-keyframes loop1 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, green), to(blue));
    background-image: linear-gradient(to top, green 0 15%, blue);
  }
  50% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, green), to(blue));
    background-image: linear-gradient(to top, green 0 40%, blue);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, green), to(blue));
    background-image: linear-gradient(to top, green 0 60%, blue);
  }
}

@keyframes loop1 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, green), to(blue));
    background-image: linear-gradient(to top, green 0 15%, blue);
  }
  50% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, green), to(blue));
    background-image: linear-gradient(to top, green 0 40%, blue);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, green), to(blue));
    background-image: linear-gradient(to top, green 0 60%, blue);
  }
}

@-webkit-keyframes loop3 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, purple), to(red));
    background-image: linear-gradient(to top, purple 0 15%, red);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, purple), to(red));
    background-image: linear-gradient(to top, purple 0 60%, red);
  }
}

@keyframes loop3 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, purple), to(red));
    background-image: linear-gradient(to top, purple 0 15%, red);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, purple), to(red));
    background-image: linear-gradient(to top, purple 0 60%, red);
  }
}

@-webkit-keyframes loop2 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, blue), to(purple));
    background-image: linear-gradient(to top, blue 0 1%, purple);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, blue), to(purple));
    background-image: linear-gradient(to top, blue 0 50%, purple);
  }
}

@keyframes loop2 {
  0% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, blue), to(purple));
    background-image: linear-gradient(to top, blue 0 1%, purple);
  }
  100% {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, blue), to(purple));
    background-image: linear-gradient(to top, blue 0 50%, purple);
  }
}

@media screen and (min-width: 320px) {
  #logo {
    display: none;
  }
  header {
    width: 320px;
  }
  footer {
    height: auto;
    width: 320px;
  }
  footer div {
    width: 310px;
    height: 70px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    width: 1200px;
  }
  #logo {
    position: fixed;
    display: block;
    margin-top: auto;
    margin-right: 100px;
    margin-bottom: auto;
    margin-left: 1100px;
  }
}

footer {
  background-color: #7fccff;
  width: 1200px;
  height: auto;
}

footer div en {
  color: cyan;
}

footer div {
  background-color: #008b84;
  width: 1190px;
  height: 70px;
  border: 5px;
  border-style: groove;
  border-color: aquamarine;
  padding: 5px;
  margin: 5px;
}
/*# sourceMappingURL=style_nosotros.css.map */